
UserManagement/.vs/

UserManagement/User.Infrastructure/bin/

UserManagement/User.Infrastructure/obj/

UserManagement/User.Domain/bin/

UserManagement/User.Domain/obj/

UserManagement/User.Grpc/bin/

UserManagement/User.Grpc/obj/

CatalogManagement/.vs/

CatalogManagement/Catalog.Domain/bin/

CatalogManagement/Catalog.Domain/obj/

CatalogManagement/Catalog.Grpc/bin/

CatalogManagement/Catalog.Grpc/obj/

CatalogManagement/Catalog.Infrastructure/bin/

CatalogManagement/Catalog.Infrastructure/obj/

CartManagement/.vs/

CartManagement/Cart.Domain/bin/

CartManagement/Cart.Domain/obj/

CartManagement/Cart.Infrastructure/bin/

CartManagement/Cart.Infrastructure/obj/

CartManagement/Cart.Grpc/bin/

CartManagement/Cart.Grpc/obj/

OnlineShop/.vs/

OnlineShop/OnlineShop.Api/bin/

OnlineShop/OnlineShop.Api/obj/
